body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
    background: rgb(175,238,238);
    background: linear-gradient(0deg, rgba(175,238,238,1) 0%, rgba(161,154,237,1) 50%, rgba(175,238,238,1) 100%);
}

/* #sprite1 {
    width: 345px;
    height: 345px;
} */

.sprite2 {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(2048px /5 );
    height: 1536px;
    background: url(IMG_1734.PNG);
    animation: animate 450ms steps(5) infinite;
    text-align: center;
    margin: 638px 117px;
  }
  @keyframes  animate {
   from {
       background-position: 0;
   }
   to {
       background-position: 2048px;
   }
}

/* .loader {
    border: 16px solid #9d4ee7;
    border-radius: 50%;
    border-top: 8px solid #f84df07c;
    border-right: 8px solid #4dd0f87c;
    border-bottom: 8px solid #4df85b7c;
    border-left: 8px solid #f84d8f7c;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;  Safari 
    animation: spin 1s linear infinite;
     position: center; 
  }
  
   Safari 
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

  /* .loader10 {
    border: 16px solid purple;
    border-radius: 50%;
    border-top:8px solid rgb(238, 135, 152);
    border-right: 8px solid rgb(126, 214, 210);
    border-bottom: 8px solid rgb(93, 192, 84);
    border-left: 8px solid rgb(199, 165, 72);
    width: 120px;
    height: 120px;
    -webkit-animation: spin .5s linear infinite;  safari 
    animation: spin .5s linear infinite;
  }
   */

   h1 {
    text-align: center;
    font-size: 25px;
    background: -webkit-repeating-linear-gradient(#4ce980, #e639b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

   #bio {
    text-align: center;
    font-size: 52px;
    background: -webkit-linear-gradient(#974169, #66aa5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

   .biobio {
     text-align: center;
     font-size: 23px;
     background: -webkit-linear-gradient(#66aa5d, #974169);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
   }
   .top {
     position: relative;
   }

   #per {
     position: center;
     border-radius: 15%;
     /* border-style: #111111; */
   }

   #spk {
     max-width: 100%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: calc(1280px /16);
     height: 90px;
     background: url(spk-trot.png);
     animation: animate 0.7s steps(16) infinite;
     text-align: center;
     margin-top: 1222px;
     margin-right: -80px;
     margin-bottom: -111px;
     margin-left: -354px;
   }
   @keyframes animate {
     from {
       background-position: 1280px;
     }
     to {
       background-position: 0;
     }
   }

   #code {
     font-size: 15px;
     background: -webkit-repeating-linear-gradient(#fcb430, #d737ec);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
   }

   #story1,
   #story2,
   #story3,
   #story4,
   #story5,
   #story6,
   #story7,
   #story8,
   #story9 {
     /* text-align: center;
     background: -webkit-repeating-linear-gradient(#4ce980, #e639b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;
    /* color: #aa3333; */
    background: -webkit-repeating-linear-gradient(#317c4a, #74265c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

   .c1,
   .c2,
   .c3,
   .c4,
   .c5,
   .c6,
   .c7,
   .c8,
   .c9 {
    color: rgb(77, 216, 181);
    background-color: #c04848;
    width: 5em;
    height: 5em;
    border-radius: 25%;
   }