body {
    background-color: paleturquoise;
}

/* #sprite1 {
    width: 345px;
    height: 345px;
} */

.sprite2 {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(2048px /5 );
    height: 1536px;
    background: url(media/IMG_1734.PNG);
    animation: animate 450ms steps(5) infinite;
    text-align: center;
    /* margin: 38px 6px; */
  }
  @keyframes  animate {
   from {
       background-position: 0;
   }
   to {
       background-position: 2048px;
   }
}

