body {
    font-family: 'Caveat', cursive;
    background-color: paleturquoise;
}

/* #sprite1 {
    width: 345px;
    height: 345px;
} */

.sprite2 {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(2048px /5 );
    height: 1536px;
    background: url(media/IMG_1734.PNG);
    animation: animate 450ms steps(5) infinite;
    text-align: center;
    /* margin: 38px 6px; */
  }
  @keyframes  animate {
   from {
       background-position: 0;
   }
   to {
       background-position: 2048px;
   }
}

/* .loader {
    border: 16px solid #9d4ee7;
    border-radius: 50%;
    border-top: 8px solid #f84df07c;
    border-right: 8px solid #4dd0f87c;
    border-bottom: 8px solid #4df85b7c;
    border-left: 8px solid #f84d8f7c;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;  Safari 
    animation: spin 1s linear infinite;
     position: center; 
  }
  
   Safari 
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

  /* .loader10 {
    border: 16px solid purple;
    border-radius: 50%;
    border-top:8px solid rgb(238, 135, 152);
    border-right: 8px solid rgb(126, 214, 210);
    border-bottom: 8px solid rgb(93, 192, 84);
    border-left: 8px solid rgb(199, 165, 72);
    width: 120px;
    height: 120px;
    -webkit-animation: spin .5s linear infinite;  safari 
    animation: spin .5s linear infinite;
  }
   */

   h1 {
     text-align: center;
     font-size: 25px;
     background: -webkit-linear-gradient(#4ce980, #e639b2);
     background: -webkit-background-clip (text);
     background: -webkit-text-fill-color (transparent);
   }

   #bio {
    text-align: center;
    font-size: 52px;
    background: -webkit-linear-gradient(#974169, #66aa5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

   .biobio {
       text-align: center;
       font-size: 23px;
       background: -webkit-linear-gradient(#66aa5d, #974169);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
   }

   #per {
     position: center;
     border-radius: 15%;
     /* border-style: #111111; */
   }